name: MLflow CI/CD Pipeline

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Run actions/checkout@v3
      uses: actions/checkout@v3

    - name: Set up Python 3.12.7
      uses: actions/setup-python@v4
      with:
        python-version: '3.12.7' 

    - name: Check Env
      run: |
        python --version
        pip --version
        echo "Environment check done."

    - name: Install dependencies
      run: |
        pip install mlflow pandas scikit-learn numpy dagshub

    - name: Run mlflow project
      run: |
        cd MLProject
        python modelling.py

    - name: Get latest MLflow run_id
      id: get_run_id
      run: |
        cd MLProject
        RUN_ID=$(cat last_run_id.txt)
        echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV
        echo "Detected Run ID: $RUN_ID"

    - name: Install Python dependencies
      run: |
        echo "Verifying additional dependencies..."
        if [ -f MLProject/requirements.txt ]; then pip install -r MLProject/requirements.txt; fi

    - name: Upload to github
      uses: actions/upload-artifact@v4
      with:
        name: trained-model-artifacts
        path: MLProject/mlruns/
        retention-days: 5

    - name: Build Docker Model
      run: |
        cd MLProject

        LOCAL_IMAGE_NAME="churn-model:local"
        echo "Building Docker image from Run ID: ${{ env.RUN_ID }}"
        
        # Build image lokal
        mlflow models build-docker \
          -m "runs:/${{ env.RUN_ID }}/model" \
          -n "$LOCAL_IMAGE_NAME" \
          --enable-mlserver

    - name: Verify Docker Image
      run: |
        echo "Listing Docker images..."
        docker images

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{secrets.DOCKER_USERNAME}}
        password: ${{secrets.DOCKER_PASSWORD}}

    - name: Tag Docker Image
      run: |
        LOCAL_IMAGE_NAME="churn-model:local"
        REMOTE_IMAGE_NAME="yosuatriantara/mlflow-churn-model:latest"
        
        echo "Tagging image..."
        docker tag "$LOCAL_IMAGE_NAME" "$REMOTE_IMAGE_NAME"

    - name: Push Docker Image
      run: |
        REMOTE_IMAGE_NAME="yosuatriantara/mlflow-churn-model:latest"
        
        echo "Pushing image..."
        docker push "$REMOTE_IMAGE_NAME"