name: MLflow CI/CD Pipeline

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    # 1. Ambil Kode
    - name: Checkout Code
      uses: actions/checkout@v3

    # 2. Setup Python
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    # 3. Install Dependencies
    - name: Install Libraries
      run: |
        pip install mlflow pandas scikit-learn numpy

    # 4a. Jalankan Training 
    - name: Run MLflow Project
      run: |
        cd MLProject
        # Script ini akan menghasilkan folder 'mlruns' berisi model
        python modelling.py

    # 4b. SIMPAN ARTEFAK KE GITHUB 
    - name: Upload Model Artifacts to GitHub
      uses: actions/upload-artifact@v4
      with:
        name: trained-model-artifacts
        path: MLProject/mlruns/
        retention-days: 5

    # 5. Login ke Docker Hub
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # 6. Build & Push Docker Image 
    - name: Build and Push Docker Image
      run: |
        cd MLProject
        
        # Ambil Run ID dari file txt
        RUN_ID=$(cat last_run_id.txt)
        echo "Detected Run ID: $RUN_ID"
        
        # Setup nama image
        IMAGE_NAME="${{ secrets.DOCKER_USERNAME }}/mlflow-churn-model:latest"
        
        echo "Building Docker Image..."
        # Perintah wajib untuk Advance: mlflow models build-docker
        mlflow models build-docker \
          -m "runs:/$RUN_ID/model" \
          -n "$IMAGE_NAME" \
          --enable-mlserver
          
        echo "Pushing to Docker Hub..."
        docker push "$IMAGE_NAME"
